.fonctionnement {
    position: relative;
    h2 {
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 25px;
    }
}
ol {
    list-style-type: none;
    position: relative;
    left: 6px;
    li {
        width: 400px;
        height: 40px;
        background: rgb(242, 236, 245);
        box-shadow: 0px 5px 7px rgb(155, 153, 153);
        text-align: center;
        padding-top: 40px;
        margin: 10px;
        position: relative;
        border-radius: 22px;
    }
}
        
.nombre {
        width: 20px;
        height: 20px;
        background: $primaire;
        padding: 1px;
        border-radius: 50%;
        position: absolute;
        left: -10px;
        color: white;
        margin-top: -10px;

}
.icone {
    color: rgb(78, 75, 75);
    position: relative;
    bottom: 10px;
    right: 40px;
}

.option {
    position: relative;
    bottom: 10px;
    font-size: $texte * 1.2;
    font-family: $policetexte;
    font-weight: bold;
    right: 20px;
}



.resto {
    background-color: rgb(242, 236, 245);
    bottom: 200px;
    padding-top: 30px;
    padding-bottom: 100px;
    margin-top: 100px;
    
     h2 {
        margin-left: 25px;
        font-family: Arial, Helvetica, sans-serif;

    }
 }

 article {
     position:relative;
     margin-bottom: -120px;
        figure {
                background-color: rgb(255, 255, 255);
                border-radius: 20px;
                position: relative;
                img {
                    width: 420px;
                    height : 200px;
                    border-radius: 20px 20px 0px 0px ;
                }
    }
 }

 

.titre {
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 39px;
    padding-top: 10px;
    background: white;
    padding-bottom: 50px;
    border-radius: 0px 0px 20px 20px;
    position: relative;
}
h4 {
    margin-left: 50px;
    font-family: $policetexte;
    font-size: $texte * 1.1;
    position: relative;
    bottom: 90px;
}
   

.etiquette {
    width: 70px;
    height: 20px;
    border: 1px solid $tertiaire;
    text-align: center;
    background: $tertiaire;
    padding: 3px 7px;
    font-family: $policetexte;
    font-weight: bold;
    opacity: 0.9;
    border-radius: 3px;
    bottom: 350px;
    left: 360px;
    position: absolute;
}

.coeur {
    position: relative;
    left: 400px;
    bottom: 160px;
     i {
        font-size: 30px;
     }  
       
    }



   


