footer {
    position: relative;
    bottom: 220px;
    background-color: rgb(46, 45, 45);
    color: white;
    padding: 20px;
    font-family: $policetexte;
    
    h3 {
        font-family: $policelogotitre;
        margin-left: 10px;
        font-size: $texte * 1.5;
   
    p {
        margin-left: 10px;
        font-weight: bold;
        }
    }
}
        
i {
    margin-right: 10px;
    }
        
    





